<?xml version="1.0"?>
<robot name="my_robot">

    <link name="b2_description">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/base_link.dae" />
        </geometry>
        <material name="磨砂铝合金_011-effect">
          <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
        </material>
        <material name="logo_001-effect">
          <color rgba="1.00000000 1.00000000 1.00000000 1.00000000"/>
        </material>
        <material name="材质_023-effect">
          <color rgba="0.00000392 0.00000392 0.00000392 1.00000000"/>
        </material>
        <material name="材质_024-effect">
          <color rgba="0.00000392 0.00000392 0.00000392 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.5 0.28 0.15" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.000458 0.005261 0.000665" rpy="0 0 0" />
        <mass value="35.86" />
        <inertia ixx="0.27466" ixy="-0.000622" ixz="0.00315" iyy="1.0618" iyz="-0.00139" izz="1.1825" />
      </inertial>
    </link>

  <link name="b2_description_f_dc_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.000001" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="b2_description_r_dc_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.000001" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="b2_description_imu_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.000001" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="b2_description_head_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.41 0 0.005" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.12 0.14" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.33989 -0.000168 0.12029" rpy="0 0 0" />
      <mass value="3.6885" />
      <inertia ixx="0.026455" ixy="0.0000315" ixz="0.00166" iyy="0.029221" iyz="-0.0000327" izz="0.010918" />
    </inertial>
  </link>

  <link name="b2_description_tail_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.405 0 0.005" rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.12 0.14" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.37448 0.000488 0.006495" rpy="0 0 0" />
      <mass value="0.795" />
      <inertia ixx="0.0028118" ixy="0.0000195" ixz="-0.0000079" iyy="0.0047506" iyz="-0.0000157" izz="0.0029154" />
    </inertial>
  </link>

    <link name="b2_description_FL_hip">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/FL_hip.dae" />
        </geometry>
        <material name="b2_description_FL_hip_mat">
          <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0.12 0" rpy="1.5707963 0 0" />
        <geometry>
          <cylinder radius="0.07" length="0.05" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.003841 -0.009068 0" rpy="0 0 0" />
        <mass value="2.673" />
        <inertia ixx="0.0033188" ixy="0.0000716" ixz="-0.0000004" iyy="0.0048743" iyz="0" izz="0.0037087" />
      </inertial>
    </link>

  <link name="b2_description_FL_hip_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707963 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

    <link name="b2_description_FL_thigh">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/FL_thigh.dae" />
        </geometry>
        <material name="磨砂铝合金_008-effect">
          <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
        </material>
        <material name="灰色硅胶_009-effect">
          <color rgba="0.64706275 0.67843529 0.64706275 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.025 0 -0.16" rpy="0 1.57 0" />
        <geometry>
          <box size="0.32 0.0445 0.054" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.006279 -0.032049 -0.057835" rpy="0 0 0" />
        <mass value="4.536" />
        <inertia ixx="0.062299" ixy="0.0008778" ixz="-0.0036475" iyy="0.061399" iyz="0.0083537" izz="0.0081997" />
      </inertial>
    </link>

  <link name="b2_description_FL_thigh_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

    <link name="b2_description_FL_calf">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/FL_calf.dae" />
        </geometry>
        <material name="磨砂铝合金_018-effect">
          <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
        </material>
        <material name="材质_005-effect">
          <color rgba="0.07059216 0.07059216 0.07059216 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.002 0 -0.03" rpy="0 1.2 0" />
        <geometry>
          <box size="0.1 0.0245 0.018" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.022 0 -0.1" rpy="0 1.35 0" />
        <geometry>
          <box size="0.1 0.0245 0.018" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.036 0 -0.225" rpy="0 1.53 0" />
        <geometry>
          <box size="0.15 0.0245 0.015" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.023 0 -0.31" rpy="0 2 0" />
        <geometry>
          <box size="0.05 0.028 0.035" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.012422 0 -0.12499" rpy="0 0 0" />
        <mass value="0.404" />
        <inertia ixx="0.01143" ixy="0" ixz="0.000643" iyy="0.011534" iyz="0" izz="0.000331" />
      </inertial>
    </link>

  <link name="b2_description_FL_calf_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

  <link name="b2_description_FL_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 0 0" />
      <geometry>
        <sphere radius="0.032" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.006511 0 -0.010144" rpy="0 0 0" />
      <mass value="0.126" />
      <inertia ixx="0.000038" ixy="0" ixz="0.000011" iyy="0.000041" iyz="0" izz="0.000042" />
    </inertial>
  </link>

    <link name="b2_description_FR_hip">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/FR_hip.dae" />
        </geometry>
        <material name="b2_description_FR_hip_mat">
          <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 -0.12 0" rpy="1.5707963 0 0" />
        <geometry>
          <cylinder radius="0.07" length="0.05" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.009305 0.010228 0.000264" rpy="0 0 0" />
        <mass value="2.673" />
        <inertia ixx="0.0026431" ixy="-0.0001923" ixz="-0.0000068" iyy="0.0046728" iyz="0.0000072" izz="0.0034208" />
      </inertial>
    </link>

  <link name="b2_description_FR_hip_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707963 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

    <link name="b2_description_FR_thigh">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/FR_thigh.dae" />
        </geometry>
        <material name="磨砂铝合金_008-effect">
          <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
        </material>
        <material name="灰色硅胶_009-effect">
          <color rgba="0.64706275 0.67843529 0.64706275 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.03 0 -0.2" rpy="0 1.57 0" />
        <geometry>
          <box size="0.25 0.028 0.04" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.006279 0.032049 -0.057835" rpy="0 0 0" />
        <mass value="4.536" />
        <inertia ixx="0.0622991" ixy="-0.0008778" ixz="-0.0036475" iyy="0.0613993" iyz="-0.0083537" izz="0.0081997" />
      </inertial>
    </link>

  <link name="b2_description_FR_thigh_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

    <link name="b2_description_FR_calf">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/FR_calf.dae" />
        </geometry>
        <material name="磨砂铝合金_018-effect">
          <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
        </material>
        <material name="材质_005-effect">
          <color rgba="0.07059216 0.07059216 0.07059216 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.002 0 -0.03" rpy="0 1.2 0" />
        <geometry>
          <box size="0.1 0.0245 0.018" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.022 0 -0.1" rpy="0 1.35 0" />
        <geometry>
          <box size="0.1 0.0245 0.018" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.036 0 -0.225" rpy="0 1.53 0" />
        <geometry>
          <box size="0.15 0.0245 0.015" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.023 0 -0.31" rpy="0 2 0" />
        <geometry>
          <box size="0.05 0.028 0.035" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.012422 0 -0.12499" rpy="0 0 0" />
        <mass value="0.404" />
        <inertia ixx="0.01143" ixy="0" ixz="0.000643" iyy="0.011534" iyz="0" izz="0.000331" />
      </inertial>
    </link>

  <link name="b2_description_FR_calf_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

  <link name="b2_description_FR_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 0 0" />
      <geometry>
        <sphere radius="0.032" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.006511 0 -0.010144" rpy="0 0 0" />
      <mass value="0.126" />
      <inertia ixx="0.000038" ixy="0" ixz="0.000011" iyy="0.000041" iyz="0" izz="0.000042" />
    </inertial>
  </link>

    <link name="b2_description_RL_hip">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/RL_hip.dae" />
        </geometry>
        <material name="b2_description_RL_hip_mat">
          <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0.12 0" rpy="1.5707963 0 0" />
        <geometry>
          <cylinder radius="0.07" length="0.05" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.009305 -0.010228 0.000264" rpy="0 0 0" />
        <mass value="2.673" />
        <inertia ixx="0.0026431" ixy="-0.0001923" ixz="0.0000068" iyy="0.0046728" iyz="-0.0000072" izz="0.0034208" />
      </inertial>
    </link>

  <link name="b2_description_RL_hip_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707963 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

    <link name="b2_description_RL_thigh">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/RL_thigh.dae" />
        </geometry>
        <material name="磨砂铝合金_008-effect">
          <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
        </material>
        <material name="灰色硅胶_009-effect">
          <color rgba="0.64706275 0.67843529 0.64706275 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.03 0 -0.2" rpy="0 1.57 0" />
        <geometry>
          <box size="0.25 0.028 0.04" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.006279 -0.032049 -0.057835" rpy="0 0 0" />
        <mass value="4.536" />
        <inertia ixx="0.0622991" ixy="0.0008778" ixz="-0.0036475" iyy="0.0613993" iyz="0.0083537" izz="0.0081997" />
      </inertial>
    </link>

  <link name="b2_description_RL_thigh_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

    <link name="b2_description_RL_calf">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/RL_calf.dae" />
        </geometry>
        <material name="磨砂铝合金_018-effect">
          <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
        </material>
        <material name="材质_005-effect">
          <color rgba="0.07059216 0.07059216 0.07059216 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.002 0 -0.03" rpy="0 1.2 0" />
        <geometry>
          <box size="0.1 0.0245 0.018" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.022 0 -0.1" rpy="0 1.35 0" />
        <geometry>
          <box size="0.1 0.0245 0.018" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.036 0 -0.225" rpy="0 1.53 0" />
        <geometry>
          <box size="0.15 0.0245 0.015" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.023 0 -0.31" rpy="0 2 0" />
        <geometry>
          <box size="0.05 0.028 0.035" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.012422 0 -0.12499" rpy="0 0 0" />
        <mass value="0.404" />
        <inertia ixx="0.01143" ixy="0" ixz="0.000643" iyy="0.011534" iyz="0" izz="0.000331" />
      </inertial>
    </link>

  <link name="b2_description_RL_calf_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

  <link name="b2_description_RL_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 0 0" />
      <geometry>
        <sphere radius="0.032" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.006511 0 -0.010144" rpy="0 0 0" />
      <mass value="0.126" />
      <inertia ixx="0.000038" ixy="0" ixz="0.000011" iyy="0.000041" iyz="0" izz="0.000042" />
    </inertial>
  </link>

    <link name="b2_description_RR_hip">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/RR_hip.dae" />
        </geometry>
        <material name="b2_description_RR_hip_mat">
          <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 -0.12 0" rpy="1.5707963 0 0" />
        <geometry>
          <cylinder radius="0.07" length="0.05" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.003841 0.009068 0" rpy="0 0 0" />
        <mass value="2.673" />
        <inertia ixx="0.0033188" ixy="0.0000716" ixz="0.0000004" iyy="0.0048743" iyz="0" izz="0.0037087" />
      </inertial>
    </link>

  <link name="b2_description_RR_hip_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707963 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

    <link name="b2_description_RR_thigh">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/RR_thigh.dae" />
        </geometry>
        <material name="磨砂铝合金_008-effect">
          <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
        </material>
        <material name="灰色硅胶_009-effect">
          <color rgba="0.64706275 0.67843529 0.64706275 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.03 0 -0.2" rpy="0 1.57 0" />
        <geometry>
          <box size="0.25 0.028 0.04" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.006279 0.032049 -0.057835" rpy="0 0 0" />
        <mass value="4.536" />
        <inertia ixx="0.062299" ixy="-0.0008778" ixz="-0.0036475" iyy="0.061399" iyz="-0.0083537" izz="0.0081997" />
      </inertial>
    </link>

  <link name="b2_description_RR_thigh_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

    <link name="b2_description_RR_calf">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/RR_calf.dae" />
        </geometry>
        <material name="磨砂铝合金_018-effect">
          <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
        </material>
        <material name="材质_005-effect">
          <color rgba="0.07059216 0.07059216 0.07059216 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.002 0 -0.03" rpy="0 1.2 0" />
        <geometry>
          <box size="0.1 0.0245 0.018" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.022 0 -0.1" rpy="0 1.35 0" />
        <geometry>
          <box size="0.1 0.0245 0.018" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.036 0 -0.225" rpy="0 1.53 0" />
        <geometry>
          <box size="0.15 0.0245 0.015" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.023 0 -0.31" rpy="0 2 0" />
        <geometry>
          <box size="0.05 0.028 0.035" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.012422 0 -0.12499" rpy="0 0 0" />
        <mass value="0.404" />
        <inertia ixx="0.01143" ixy="0" ixz="0.000643" iyy="0.011534" iyz="0" izz="0.000331" />
      </inertial>
    </link>

  <link name="b2_description_RR_calf_rotor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.02" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2734" />
      <inertia ixx="0.0001445" ixy="0" ixz="0" iyy="0.0001445" iyz="0" izz="0.0002631" />
    </inertial>
  </link>

  <link name="b2_description_RR_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 0 0" />
      <geometry>
        <sphere radius="0.032" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.006511 0 -0.010144" rpy="0 0 0" />
      <mass value="0.126" />
      <inertia ixx="0.000038" ixy="0" ixz="0.000011" iyy="0.000041" iyz="0" izz="0.000042" />
    </inertial>
  </link>

  <link name="b2_description_f_oc_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.000001" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="b2_description_r_oc_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.000001" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

    <link name="R5a">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/base_link.STL" />
        </geometry>
        <material name="R5a_mat">
          <color rgba="0.89804314 0.91765098 0.92549412 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/base_link.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0001336 0.0000667 0.031672" rpy="0 0 0" />
        <mass value="0.42272" />
        <inertia ixx="0.00019" ixy="0" ixz="0" iyy="0.00019" iyz="0" izz="0.0002" />
      </inertial>
    </link>

    <link name="R5a_link1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link1.STL" />
        </geometry>
        <material name="R5a_link1_mat">
          <color rgba="0.56470980 0.56470980 0.56470980 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link1.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0050395 -0.0077407 0.020897" rpy="0 0 0" />
        <mass value="0.096804" />
        <inertia ixx="0.00011" ixy="-0.00001" ixz="0.00001" iyy="0.00005" iyz="-0.00001" izz="0.0001" />
      </inertial>
    </link>

    <link name="R5a_link2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link2.STL" />
        </geometry>
        <material name="R5a_link2_mat">
          <color rgba="0.79216078 0.81961176 0.92941569 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link2.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.12992 -0.0011822 -0.0000264" rpy="0 0 0" />
        <mass value="1.1988" />
        <inertia ixx="0.00065" ixy="0.00008" ixz="0" iyy="0.01647" iyz="0" izz="0.01646" />
      </inertial>
    </link>

    <link name="R5a_link3">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link3.STL" />
        </geometry>
        <material name="R5a_link3_mat">
          <color rgba="0.89804314 0.91765098 0.92549412 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link3.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.16181 0.0011723 -0.05455" rpy="0 0 0" />
        <mass value="0.84082" />
        <inertia ixx="0.00082" ixy="0.00008" ixz="-0.00074" iyy="0.00849" iyz="0.00001" izz="0.00834" />
      </inertial>
    </link>

    <link name="R5a_link4">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link4.STL" />
        </geometry>
        <material name="R5a_link4_mat">
          <color rgba="0.79216078 0.81961176 0.92941569 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link4.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.041751 0.0054236 -0.03337" rpy="0 0 0" />
        <mass value="0.12432" />
        <inertia ixx="0.00022" ixy="-0.00002" ixz="-0.00009" iyy="0.00025" iyz="0.00002" izz="0.00017" />
      </inertial>
    </link>

    <link name="R5a_link5">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link5.STL" />
        </geometry>
        <material name="R5a_link5_mat">
          <color rgba="0.69804314 0.69804314 0.69804314 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link5.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0000834 -0.0000154 0.052216" rpy="0 0 0" />
        <mass value="0.63601" />
        <inertia ixx="0.00084" ixy="0" ixz="0.00007" iyy="0.00082" iyz="0" izz="0.00026" />
      </inertial>
    </link>

    <link name="R5a_link6">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link6.STL" />
        </geometry>
        <material name="R5a_link6_mat">
          <color rgba="0.89804314 0.91765098 0.92549412 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link6.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.041697 0.0000244 0.0001446" rpy="0 0 0" />
        <mass value="0.44089" />
        <inertia ixx="0.00038" ixy="0" ixz="0" iyy="0.00028" iyz="0" izz="0.0005" />
      </inertial>
    </link>

    <link name="d435i_link">
      <visual>
        <origin xyz="0 0 0" rpy="1.5707963 0 1.5707963" />
        <geometry>
          <mesh filename="meshes/d435.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.015 0 0" rpy="0 0 1.5707963" />
        <geometry>
          <box size="0.09 0.025 0.025" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.072" />
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
      </inertial>
    </link>

    <link name="R5a_link7">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link7.STL" />
        </geometry>
        <material name="R5a_link7_mat">
          <color rgba="1.00000000 1.00000000 1.00000000 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link7.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0003552 -0.007827 -0.0029883" rpy="0 0 0" />
        <mass value="0.064798" />
        <inertia ixx="0.00002" ixy="0" ixz="0" iyy="0.00003" iyz="0" izz="0.00003" />
      </inertial>
    </link>

    <link name="R5a_link8">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link8.STL" />
        </geometry>
        <material name="R5a_link8_mat">
          <color rgba="1.00000000 1.00000000 1.00000000 1.00000000"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="meshes/link8.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.0003552 0.0078277 0.0024201" rpy="0 0 0" />
        <mass value="0.0647982" />
        <inertia ixx="0.00002" ixy="0" ixz="0" iyy="0.00003" iyz="0" izz="0.00003" />
      </inertial>
    </link>

  <joint name="b2_description_joint_f_dc" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_f_dc_link" />
    <origin xyz="0.41251 0.024997 0.04765" rpy="-2.3562 0 -1.5708" />
  </joint>

  <joint name="b2_description_joint_r_dc" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_r_dc_link" />
    <origin xyz="-0.4081 -0.025 0.024861" rpy="-2.3557 0 1.5708" />
  </joint>

  <joint name="b2_description_joint_imu" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_imu_link" />
    <origin xyz="0 -0.02341 0.04927" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_joint_head" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_head_Link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_joint_tail" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_tail_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FL_hip_joint" type="revolute">
    <parent link="b2_description" />
    <child link="b2_description_FL_hip" />
    <origin xyz="0.3285 0.072 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_FL_hip_rotor_joint" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_FL_hip_rotor" />
    <origin xyz="0.20205 0.072 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FL_thigh_joint" type="revolute">
    <parent link="b2_description_FL_hip" />
    <child link="b2_description_FL_thigh" />
    <origin xyz="0 0.11973 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.94" upper="4.69" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_FL_thigh_rotor_joint" type="fixed">
    <parent link="b2_description_FL_hip" />
    <child link="b2_description_FL_thigh_rotor" />
    <origin xyz="0 -0.00798 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FL_calf_joint" type="revolute">
    <parent link="b2_description_FL_thigh" />
    <child link="b2_description_FL_calf" />
    <origin xyz="0 -0.000087 -0.35" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.82" upper="-0.43" effort="320" velocity="14" />
  </joint>

  <joint name="b2_description_FL_calf_rotor_joint" type="fixed">
    <parent link="b2_description_FL_thigh" />
    <child link="b2_description_FL_calf_rotor" />
    <origin xyz="0 -0.05788 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FL_foot_joint" type="fixed">
    <parent link="b2_description_FL_calf" />
    <child link="b2_description_FL_foot" />
    <origin xyz="0 0 -0.35" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FR_hip_joint" type="revolute">
    <parent link="b2_description" />
    <child link="b2_description_FR_hip" />
    <origin xyz="0.3285 -0.072 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_FR_hip_rotor_joint" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_FR_hip_rotor" />
    <origin xyz="0.20205 -0.072 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FR_thigh_joint" type="revolute">
    <parent link="b2_description_FR_hip" />
    <child link="b2_description_FR_thigh" />
    <origin xyz="0 -0.11973 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.94" upper="4.69" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_FR_thigh_rotor_joint" type="fixed">
    <parent link="b2_description_FR_hip" />
    <child link="b2_description_FR_thigh_rotor" />
    <origin xyz="0 0.00798 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FR_calf_joint" type="revolute">
    <parent link="b2_description_FR_thigh" />
    <child link="b2_description_FR_calf" />
    <origin xyz="0 0.000087 -0.35" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.82" upper="-0.43" effort="320" velocity="14" />
  </joint>

  <joint name="b2_description_FR_calf_rotor_joint" type="fixed">
    <parent link="b2_description_FR_thigh" />
    <child link="b2_description_FR_calf_rotor" />
    <origin xyz="0 0.05788 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FR_foot_joint" type="fixed">
    <parent link="b2_description_FR_calf" />
    <child link="b2_description_FR_foot" />
    <origin xyz="0 0 -0.35" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RL_hip_joint" type="revolute">
    <parent link="b2_description" />
    <child link="b2_description_RL_hip" />
    <origin xyz="-0.3285 0.072 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_RL_hip_rotor_joint" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_RL_hip_rotor" />
    <origin xyz="-0.20205 0.072 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RL_thigh_joint" type="revolute">
    <parent link="b2_description_RL_hip" />
    <child link="b2_description_RL_thigh" />
    <origin xyz="0 0.11973 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.94" upper="4.69" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_RL_thigh_rotor_joint" type="fixed">
    <parent link="b2_description_RL_hip" />
    <child link="b2_description_RL_thigh_rotor" />
    <origin xyz="0 -0.00798 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RL_calf_joint" type="revolute">
    <parent link="b2_description_RL_thigh" />
    <child link="b2_description_RL_calf" />
    <origin xyz="0 -0.000087 -0.35" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.82" upper="-0.43" effort="320" velocity="14" />
  </joint>

  <joint name="b2_description_RL_calf_rotor_joint" type="fixed">
    <parent link="b2_description_RL_thigh" />
    <child link="b2_description_RL_calf_rotor" />
    <origin xyz="0 -0.05788 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RL_foot_joint" type="fixed">
    <parent link="b2_description_RL_calf" />
    <child link="b2_description_RL_foot" />
    <origin xyz="0 0 -0.35" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RR_hip_joint" type="revolute">
    <parent link="b2_description" />
    <child link="b2_description_RR_hip" />
    <origin xyz="-0.3285 -0.072 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_RR_hip_rotor_joint" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_RR_hip_rotor" />
    <origin xyz="-0.20205 -0.072 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RR_thigh_joint" type="revolute">
    <parent link="b2_description_RR_hip" />
    <child link="b2_description_RR_thigh" />
    <origin xyz="0 -0.11973 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.94" upper="4.69" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_RR_thigh_rotor_joint" type="fixed">
    <parent link="b2_description_RR_hip" />
    <child link="b2_description_RR_thigh_rotor" />
    <origin xyz="0 0.00798 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RR_calf_joint" type="revolute">
    <parent link="b2_description_RR_thigh" />
    <child link="b2_description_RR_calf" />
    <origin xyz="0 0.000087 -0.35" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.82" upper="-0.43" effort="320" velocity="14" />
  </joint>

  <joint name="b2_description_RR_calf_rotor_joint" type="fixed">
    <parent link="b2_description_RR_thigh" />
    <child link="b2_description_RR_calf_rotor" />
    <origin xyz="0 0.05788 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RR_foot_joint" type="fixed">
    <parent link="b2_description_RR_calf" />
    <child link="b2_description_RR_foot" />
    <origin xyz="0 -0.000087 -0.35" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_joint_f_oc" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_f_oc_link" />
    <origin xyz="0.39079 0 -0.013433" rpy="-1.5708 0 -1.5708" />
  </joint>

  <joint name="b2_description_joint_r_oc" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_r_oc_link" />
    <origin xyz="-0.38451 0 -0.023249" rpy="-1.5708 0 1.5708" />
  </joint>

  <joint name="R5a_joint1" type="revolute">
    <parent link="R5a" />
    <child link="R5a_link1" />
    <origin xyz="0 0 0.0565" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="2.6" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint2" type="revolute">
    <parent link="R5a_link1" />
    <child link="R5a_link2" />
    <origin xyz="0.02 0 0.047" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="3" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint3" type="revolute">
    <parent link="R5a_link2" />
    <child link="R5a_link3" />
    <origin xyz="-0.264 0 0" rpy="-3.1416 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="3.14" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint4" type="revolute">
    <parent link="R5a_link3" />
    <child link="R5a_link4" />
    <origin xyz="0.245 -0.00005 -0.06" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.3" upper="1.3" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint5" type="revolute">
    <parent link="R5a_link4" />
    <child link="R5a_link5" />
    <origin xyz="0.073914 0.00005 -0.083391" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint6" type="revolute">
    <parent link="R5a_link5" />
    <child link="R5a_link6" />
    <origin xyz="0.025286 0 0.083391" rpy="3.1416 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-2.1" upper="2.1" effort="100" velocity="1000" />
  </joint>

  <joint name="d435i_mount" type="fixed">
    <parent link="R5a_link6" />
    <child link="d435i_link" />
    <origin xyz="0.06 0 0.07" rpy="0 0.2618 0" />
  </joint>

  <joint name="R5a_joint7" type="prismatic">
    <parent link="R5a_link6" />
    <child link="R5a_link7" />
    <origin xyz="0.08657 0.024896 -0.0002436" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0.044" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint8" type="prismatic">
    <parent link="R5a_link6" />
    <child link="R5a_link8" />
    <origin xyz="0.08657 -0.0249 -0.0002437" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="0.044" effort="100" velocity="1000" />
  </joint>

  <joint name="r5_to_b2" type="fixed">
    <parent link="b2_description" />
    <child link="R5a" />
    <origin xyz="0.22 0 0.1" rpy="0 0 0" />
  </joint>

</robot>